$font-mont: 'Montserrat', sans-serif;
$font-noto: 'Noto Sans TC', sans-serif;
$font-allura: 'Allura', cursive;

$font-size-xxs:0.75rem;
$font-size-xs:0.875rem;
$font-size-sm:1rem;
$font-size-md:1.125rem;
$font-size-lg:1.5rem;
$font-size-xl:2.25rem;
$font-size-xxl:3rem;

$line-heigh: 1.8rem;
$letter-spacing:2px;
